
.navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1em;
	max-width: 700px;
	margin: auto;
	padding-bottom: 1em;
}
.navigation .previous,
.navigation .next {
	background-color: hsla(360, 100%, 100%, 0.85);
	padding: 0.8em;
	display: grid;
	grid-template-columns: 2em 1fr;
	align-items: center;
	column-gap: 1em;
}
.navigation .previous {
	grid-template-columns: 1fr 2em;
}
.navigation h3 {
	margin: 0;
	margin-bottom: 0.5em;
	font-size: 130%;
}
