#title-image {
	line-height: 0;
}

.viewport-background-image {
	background-image: url("%viewportBackgroundImage%.600-315.png");
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	position: fixed;
	left:  0;
	right: 0;
	top:   0;
	z-index: -1;
	display: block;
	width:  100lvw;
	height: 100lvh;
	filter: blur(1px);
	opacity: 0.4;
}

/* Default: Extra-small devices such as small phones (less than 640px) */
/* 600X315 */

/* Small devices such as large phones (640px and up) */
/* 800X420 */
@media only screen and (min-width: 640px) {
	.viewport-background-image {
		background-image: url("%viewportBackgroundImage%.800-420.png");
	}
}

/* Medium devices such as tablets (768px and up) */
/* 1000X525 */
@media only screen and (min-width: 768px) {
	.viewport-background-image {
		background-image: url("%viewportBackgroundImage%.1000-525.png");
	}
}

/* Large devices such as laptops (1024px and up) */
/* 1200X630 */
@media only screen and (min-width: 1024px) {
	.viewport-background-image {
		background-image: url("%viewportBackgroundImage%.1200-630.png");
	}
}

/* Largest devices such as desktops (1280px and up) */
/* --ar 191:100 */
@media only screen and (min-width: 1280px) {
	.viewport-background-image {
		background-image: url("%viewportBackgroundImage%.png");
	}
}

body:hover .viewport-background-image {
	filter: blur(0px);
	opacity: 1;
}

#footer,
#header {
	background-color: transparent;
}
#footer div a ,
#header div a {
	color: black;
	text-shadow: 1px 1px white;
	background-color: transparent;
}
#footer div a:hover ,
#header div a:hover {
	color: white;
	text-shadow: 1px 1px black;
	background-color: transparent;
}

#title-image img {
	max-width: min(100%, 700px);
	box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

h2.main-article div {
	background-color: white;
}
div.main-article {
	background-color: hsla(360, 100%, 100%, 0.85);
}
div.main-article.codeberg {
	background-color: #2185d0;
	color: white;
}

.main-article.star-rating > div {
	border: none;
}
.main-article.no-star-rating > div {
	border: none;
}
